<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>退货</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="../../../assets/javascript/popup/popup.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../../assets/styles/search.css">
</head>
<body style="overflow-x:hidden;background:#f3f3f3;">
<div id="mask_shadow"></div>
<div id="exchange">
    <div class="btn-div">
        <button type="button" class="btn btn-primary">创建退货单</button>
        <button type="button" class="btn btn-primary" @click="refresh">刷新</button>
        <button type="button" class="btn btn-primary" @click="toAudit">审核</button>
        <button type="button" class="btn btn-primary" @click="toCancel">取消退换</button>
        <button type="button" class="btn btn-primary btn-xs" id="exchangeDetails" @click="exchangeDetails">查看详情</button>
        <div class="search-box">
            <form action="">
                <select name="" id="select">
                    <option value=""></option>
                    <option value=""></option>
                </select>
                <input type="text">
                <button type="button" class="btn btn-success">搜索</button>
            </form>
        </div>
    </div>
    <div>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>序号</th>
                <th>批量</th>
                <th>退货单号</th>
                <th>退货/换货</th>
                <th>退货状态</th>
                <th>订单号</th>
                <th>退货金额</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>修改人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <template v-for="tbReturn in returnOrderInfo">
                <tr>
                    <td>{{tbReturn.returnId}}</td>
                    <td><input type="checkbox" class="checkbox" :value="tbReturn.returnId" v-model="ids"></td>
                    <td>{{tbReturn.returnId}}</td>
                    <td>{{tbReturn.returnType}}</td>
                    <td>{{tbReturn.returnState}}</td>
                    <td>{{tbReturn.orderId}}</td>
                    <td>{{tbReturn.returnPrice}}</td>
                    <td>{{tbReturn.created}}</td>
                    <td>{{tbReturn.updated}}</td>
                    <td>{{tbReturn.modifiedUser}}</td>
                    <td>
                        <button type="button" class="btn btn-default btn-xs">操作</button>
                        <button type="button" class="btn btn-danger btn-xs">操作</button>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
    <!-- 弹出框 -->
    <div class="modal fade" id="demoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">title</h4>
                </div>
                <div class="modal-body">提示内容</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">提交更改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="footer-pager">
        <span>共<span>5</span>页，当前第<span>1</span>页</span>
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li class="disabled"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
    <div id="popup" class="popup" style="top: -555px;">
        <div class="title">
            <p>退货单详情</p>
            <span></span>
            <span>x</span>
        </div>
        <div class="cont">
            <iframe id="iframe" src="" scrolling="auto" style="width:100%;height:100%;border:0px;"></iframe></div>
    </div>
</div>
<script>
    $(function () {
        $('#popup').popup();
        $("body").css("overflow-y", "hidden");
    });
</script>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="/commons/plugins/iview/js/axios.min.js"></script>
<script type="text/javascript" src="/commons/js/axiosUtils.js"></script>
<script type="text/javascript" src="/page/js/exchange.js"></script>
</html>