<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>联蔚注册页面</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/registerLoading/register.css">
    <script type="text/javascript" src="../../assets/javascript/jquery-2.1.1.min.js"></script>
</head>
<body>
    <!-- 注册部分 -->
    <div class="main">
        <div class="box">
            <div class="top">
                快速注册
            </div>
            <!--<div class="error"></div>-->
            <div class="address"><span class="import">*</span>&nbsp用户名<input type="text" class="table1" name="table1"
                    id="email1" autocomplete="on" style="outline:none;" /></div>
            <div class="paragraph1" id="paragraph1-show">6~18个字符，需以字母开头</div>
            <div class="paragraph1-01" id="address-01">用户名格式错误</div>
            <!-- 密码的申请 -->
            <div class="password"> <span class="import">*</span>&nbsp密码<input type="password" class="table2" id="password1"
                    style="outline:none;"></div>
            <div class="paragraph1" id="pass1">6~16个字符，区分大小写</div>
            <div class="paragraph1-01" id="pass1-01">密码长度应为6-18</div>
            <!-- 再次确认密码 -->
            <div class="confirm-password"> <span class="import">*</span>&nbsp确认密码<input type="password" class="table2"
                    id="password2" style="outline:none;"></div>
            <div class="paragraph1" id="pass2">请再次填写密码 </div>
            <div class="paragraph1-01" id="pass2-01">确认密码错误！ </div>
            <!-- 手机号码的输入 -->
            <div class="telephone"> <span class="import">*</span>&nbsp手机号码<input type="text" class="table2" id="phone1"
                    placeholder="+86" maxlength="11" style="outline:none;"></div>
            <div class="paragraph1" id="phone-1">可以通过该手机号码快速找回密码 </div>
            <div class="paragraph1-01" id="phone-1-01"> 请填写正确的手机号码 </div>
            <!-- 图片验证码 -->
            <div class="code"><span class="import">*</span>&nbsp验证码<input type="text" value="" class="table3" id="code1"
                    style="outline:none;">
                <a href="#" id="changeImg">
                    <canvas class="show-captcha" id="canvas" width="120" height="30"></canvas>
                    <span class="code-refresh">看不清楚</span>
                </a>
            </div>
            <div class="paragraph-1" id="code-1"> 请填写表格中的字符，区分大小写</div>
            <div class="paragraph-1-01" id="code-1-01"> 验证码错误</div>

            <!-- 同意部分 -->
            <input class="paragraph2" type="checkbox" name="" id="checkOne" />
            <div class="agree">
                同意<a href="javascript:void(0)" title="*">"服务条款"</a>和<a href="javascript:void(0)" title="*">"隐私权相关政策"</a>
            </div>
            <!-- 立即注册部分 -->
            <div class="last"><a href="loading.html" title="跳转登录页面">注&nbsp&nbsp册</a></div>
        </div>
    </div>
    <!-- 网易登陆页面的最下面的部分 -->
    <script type="text/javascript" src="../../assets/javascript/registerLoading/register.js"></script>
    <script type="text/javascript" src="../../assets/javascript/registerLoading/code.js"></script>
</body>
</html>