.btn-div .search-box{
    /* margin-right: 40px; */
    float: right;
}
.btn-div .search-box select{
    width: 90px;
    height: 34px;
    border-radius: 4px;
    border-color: #2e6da4;
    margin-right: 8px;
}
.btn-div .search-box input{
    width: 120px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #2e6da4;
}
body .footer-pager {
    padding: 0 1em;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
body .footer-pager span {
    line-height: 74px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 1.1em;
}
/* 添加的表格样式 */
/* 嵌入的表格，设置内边距，不顶到左侧菜单 */
body .btn-div {
    padding: 10px 0;
}
body {
    padding: 10px;
}
body div table thead {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Chuanya.xu添加的代码 */
.operation{

    width:100px;
    
    height:30px;
}
#sel{   
    width: 100px;
    height : 30px;
    border-radius : 10%;
    position: relative;
    border:1px solid #f3f3f3;
    color:rgb(146, 144, 144);
    background-color: #f3f3f3;
    left:16px;
}
#sel:hover{
    background-color:  #e6f7ff;
}