<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>入库详情</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/specific/addstock.css"/>
</head>
<body style="overflow-x:hidden;">
    <div class="container">
        <!-- 上面部分 -->
            <div class="main-body">
                <div class="main-content1">
                    <div class="title"><text>商品信息</text></div>
                    <div class="title-content">
                        <div class="title-content1">
                            <div class="title-content1-top1">订单号：<input  th:text="${returnDetails.orderId}" ></div>
                            <div class="title-content1-top2">渠道订单号：<input th:text="${returnDetails.channelCode}" ></div>
                            <div class="title-content1-top3">退货单号：<input th:text="${returnDetails.returnCode}"></div>
                        </div>
                        <div class="title-content2">
                            <div class="title-content1-top1">入库单号：<input th:text="${tbInput.inputCode}"></div>
                            <div class="title-content1-top2">入库单状态：<input th:text="${tbInput.inputState}"></div>
                        </div>
                        <div class="title-content3">
                            <div class="title-content1-top1">创建时间：<input th:text="${returnDetails.created}"></div>
                            <div class="title-content1-top2">修改人：<input th:text="${returnDetails.modifiedUser}"></div>
                            <div class="title-content1-top3">修改时间：<input th:text="${returnDetails.updated}"></div>
                        </div>
                    </div>
                </div>

                <div class="main-content2">
                    <div class="main-content2-title"><text style="font-size:18px;font-weight: 600;">入库商品</text></div>
                    <table border="0" cellspacing="0" cellpadding="0" class="tab">
                        <tr class="tr-title">
                            <th>商品编号</th>
                            <th>商品名称</th>
                            <th>商品条码</th>
                            <!--<th>单价</th>-->
                            <th>数量</th>
                            <!--<th>金额</th>-->
                        </tr>

                        <tr th:each="temp:${tbReturnGoodsList}">
                            <td th:text="${temp.goodsId}"></td>
                            <td th:text="${tbReturnService.getGoodsById(temp.goodsId).getGoodsName()}"></td>
                            <td th:text="${tbReturnService.getGoodsById(temp.goodsId).getGoodsCode()}"></td>
                            <!--<td th:text="${tbReturnService.getGoodsById(temp.goodsId).getGoodsPrice()}"></td>-->
                            <td th:text="${temp.number}"></td>
                            <!--<td th:text="${tbReturnService.getGoodsById(temp.goodsId).getGoodsPrice()*temp.number}"></td>-->
                        </tr>

                    </table>
                </div>
            </div>
        </div>
</body>
</html>