<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>退款单详情</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/specific/refund.css"/>
</head>
<body style="overflow-x:hidden;">
        <div class="container">
                <!-- 上面部分 -->
                <div class="top">  
                    <!-- <text class="text1" style="color: grey;font-size: 12px;">首页&nbsp;/</text> 
                    <text class="text2" style="color: grey;font-size: 12px;">详情页&nbsp;/</text> 
                    <text class="text3" style="font-size:15px;">退款单详情&nbsp;</text> 
                    <br>
                    <br> -->
                    <span style="color:black;position:absolute;margin-left:25px;font-size: 20px;margin-top: 20px;">退款单详情</span>
                </div>
                <!-- 下面部分 -->
                <div class="main">
                    <div class="main-body">
                        <div class="main-content1">
                            <div class="title"><text>基本信息</text></div>
                            <div class="title-content">
                                <div class="title-content1">
                                    <div class="title-content1-top1">退款单号：<input></div>
                                    <div class="title-content1-top2">退款金额：<input></div>
                                    <div class="title-content1-top3">退款状态：<input></div>
                                </div>
                                <div class="title-content2">
                                    <div class="title-content1-top1">退货单号：<input></div>
                                    <div class="title-content1-top2">创建时间：<input></div>
                                    <div class="title-content1-top3">修改人：<input></div>
                                </div>
                                <div class="title-content3">
                                    <div class="title-content1-top1">修改时间：<input></div>
                                </div>
                            </div>
                        </div>
        
                        <div class="main-content2">
                            <div class="main-content2-title"><text style="font-size:20px;margin-left: 20px;">退款商品</text></div>
                            <table border="0" cellspacing="0" cellpadding="0" class="tab">
                                <tr class="tr-title">
                                    <th>商品编码</th>
                                    <th>商品名称</th>
                                    <th>商品单价</th>
                                    <th>商品数量</th>
                                    <th>商品总价</th>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>50</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>50</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td> 
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>50</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td> 
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>50</td>
                                    <td>200</td>  
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>50</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>50</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>50</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>50</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>50</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>50</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>50</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td> 
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>50</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>50</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 15px;"><strong>总计</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td>2000</td>
                                    <td>4005</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>