<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>退货单详情</title>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/specific/return-goods.css"/>
</head>
<body>
        <div class="container" id="exchangeDetails">
                    <div class="main-body" th:if="${test}">
                        <div class="main-content1">
                            <div class="title"><text>基本信息</text></div>
                            <div class="title-content">
                                <div class="title-content1">
                                    <div class="title-content1-top1">退货单号：<input th:value="${test.returnCode}"></div>
                                    <div class="title-content1-top2">退货/换货：<input th:value="${test.returnType}"></div>
                                    <div class="title-content1-top3">退货状态：<input th:value="${test.returnState}"></div>
                                </div>
                                <div class="title-content2">
                                    <div class="title-content1-top1">订单号：<input th:value="${test.orderId}"></div>
                                    <div class="title-content1-top2">渠道订单号：<input th:value="${test.channelCode}"></div>
                                    <div class="title-content1-top3">退货金额：<input th:value="${test.returnPrice}"></div>
                                </div>
                                <div class="title-content3">
                                    <div class="title-content1-top1">创建时间：<time th:text="${#dates.format(test.created,'yyyy-MM-dd HH:mm:ss')}"></time></div>
                                    <div class="title-content1-top2">修改人：<input th:text="${test.modifiedUser}"></div>
                                    <div class="title-content1-top3">修改时间：<time th:text="${#dates.format(test.updated,'yyyy-MM-dd HH:mm:ss')}"></time></div>
                                </div>
                            </div>
                        </div>
        
                        <div class="main-content2">
                            <div class="main-content2-title"><text style="font-size:18px;font-weight: 600;">退货商品</text></div>
                            <table border="0" cellspacing="0" cellpadding="0" class="tab">
                                <tr class="tr-title">
                                    <th>商品编码</th>
                                    <th>商品名称</th>
                                    <th>退货数量</th>
                                    <th>退货金额</th>
                                </tr>
                                <!--<tr th:each="temp:${test.tbReturnGoods}">-->
                                    <!--<td class="ttdd" th:value="${temp.}"></td>-->
                                    <!--<td>矿泉水</td>-->
                                    <!--<td>2</td>-->
                                    <!--<td>200</td>-->
                                <!--</tr>-->

                            </table>
                        </div>
                    </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript" src="/commons/plugins/iview/js/axios.min.js"></script>
        <script type="text/javascript" src="/commons/js/axiosUtils.js"></script>
        <script type="text/javascript" src="/page/js/exchangeDetails.js"></script>
</body>
</html>