<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.connext.oms.mapper.TbExchangeMapper">

    <resultMap id="BaseResultMap" type="cn.com.connext.oms.entity.TbOrder">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="order_id" jdbcType="INTEGER" property="orderId" />
        <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
        <result column="channel_code" jdbcType="VARCHAR" property="channelCode" />
        <result column="order_state" jdbcType="VARCHAR" property="orderState" />
        <result column="order_source" jdbcType="VARCHAR" property="orderSource" />
        <result column="purchase_time" jdbcType="VARCHAR" property="purchaseTime" />
        <result column="basic_state" jdbcType="VARCHAR" property="basicState" />
        <result column="modified_user" jdbcType="VARCHAR" property="modifiedUser" />
        <result column="customer_id" jdbcType="INTEGER" property="customerId" />
        <result column="updated" jdbcType="TIMESTAMP" property="updated" />
        <result column="payment_state" jdbcType="VARCHAR" property="paymentState" />
        <result column="payment_way" jdbcType="VARCHAR" property="paymentWay" />
        <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
        <result column="delivery_warehouse" jdbcType="VARCHAR" property="deliveryWarehouse" />
        <result column="delivery_company" jdbcType="VARCHAR" property="deliveryCompany" />
        <result column="delivery_code" jdbcType="VARCHAR" property="deliveryCode" />
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
        <result column="sum_price" jdbcType="DOUBLE" property="sumPrice" />
        <result column="receiver_id" jdbcType="INTEGER" property="receiverId" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <association property="tbReceiver" javaType="cn.com.connext.oms.entity.TbReceiver">
            <id column="receiver_id" jdbcType="INTEGER" property="receiverId" />
            <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
            <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone" />
            <result column="receiver_mobile" jdbcType="VARCHAR" property="receiverMobile" />
            <result column="receiver_state" jdbcType="VARCHAR" property="receiverState" />
            <result column="receiver_city" jdbcType="VARCHAR" property="receiverCity" />
            <result column="receiver_district" jdbcType="VARCHAR" property="receiverDistrict" />
            <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress" />
            <result column="receiver_zip" jdbcType="VARCHAR" property="receiverZip" />
            <result column="created" jdbcType="TIMESTAMP" property="created" />
            <result column="updated" jdbcType="TIMESTAMP" property="updated" />
            <result column="order_id" jdbcType="INTEGER" property="orderId" />
        </association>
        <association property="tbGoodsOrder" javaType="cn.com.connext.oms.entity.TbGoodsOrder">
            <id column="goods_order_id" jdbcType="INTEGER" property="goodsOrderId" />
            <result column="order_id" jdbcType="INTEGER" property="orderId" />
            <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
            <result column="num" jdbcType="INTEGER" property="num" />
            <result column="total_price" jdbcType="DOUBLE" property="totalPrice" />
        </association>
        <association property="tbGoods" javaType="cn.com.connext.oms.entity.TbGoods">
            <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
            <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
            <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
            <result column="goods_price" jdbcType="DOUBLE" property="goodsPrice" />
        </association>
    </resultMap>

    <resultMap id="returnGoodsMap" type="cn.com.connext.oms.entity.TbReturnGoods">
        <id column="return_goods_id" jdbcType="INTEGER" property="returnGoodsId" />
        <result column="order_id" jdbcType="INTEGER" property="orderId" />
        <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
        <result column="number" jdbcType="INTEGER" property="number" />
    </resultMap>

    <resultMap id="returnsMap" type="cn.com.connext.oms.entity.TbReturn">
        <id column="return_id" jdbcType="INTEGER" property="returnId" />
        <result column="return_code" jdbcType="VARCHAR" property="returnCode" />
        <result column="return_state" jdbcType="VARCHAR" property="returnState" />
        <result column="order_id" jdbcType="INTEGER" property="orderId" />
        <result column="return_price" jdbcType="DOUBLE" property="returnPrice" />
        <result column="created" jdbcType="TIMESTAMP" property="created" />
        <result column="modified_user" jdbcType="VARCHAR" property="modifiedUser" />
        <result column="updated" jdbcType="TIMESTAMP" property="updated" />
        <result column="return_type" jdbcType="VARCHAR" property="returnType" />
    </resultMap>

    <!-- yonyong换货生成新订单-->
    <insert id="insertOrder" parameterType="cn.com.connext.oms.entity.TbOrder">
        insert into tb_order (order_id,order_code,channel_code,order_state,
                      order_source,purchase_time,basic_state,modified_user,
                      customer_id,updated,payment_state,payment_way,payment_time,
                      delivery_warehouse,delivery_company,delivery_code,delivery_time,
                      sum_price,receiver_id,remark)
        values (#{tbOrder.orderId},#{tbOrder.orderCode},#{tbOrder.channelCode},#{tbOrder.orderState},
                #{tbOrder.orderSource},#{tbOrder.purchaseTime},#{tbOrder.basicState},#{tbOrder.modifiedUser},
                #{tbOrder.customerId},#{tbOrder.updated},#{tbOrder.paymentState},#{tbOrder.paymentWay},#{tbOrder.paymentTime},
                #{tbOrder.deliveryWarehouse},#{tbOrder.deliveryCompany},#{tbOrder.deliveryCode},#{tbOrder.deliveryTime},
                #{tbOrder.sumPrice},#{tbOrder.receiverId},#{tbOrder.remark})
    </insert>

    <!-- yonyong 换货生成相应的订单商品表-->
    <insert id="insertGoodsOrders" parameterType="java.util.List">
        insert into tb_goods_order(order_id,goods_id,num,total_price)
        values
        <foreach collection="list" item="temp" index= "index" separator=",">
            (#{temp.orderId},#{temp.goodsId},#{temp.num},#{temp.totalPrice})
        </foreach>
    </insert>

    <!--yonyong建立换货单生成的新订单与原订单之间的联系-->
    <insert id="insertExchangeOrderRelations" parameterType="cn.com.connext.oms.entity.TbExchangeOrderRelations">
        insert into tb_exchange_order_relations(old_orderId,new_orderId,exchange_id)
        values (#{tbExchangeOrderRelations.oldOrderId},#{tbExchangeOrderRelations.newOrderId},
                #{tbExchangeOrderRelations.exchangeId})
    </insert>

    <delete id="deleteGoodsOrders">
        delete from tb_goods_order
        where order_id=#{orderId}
    </delete>

    <delete id="deleteOrder">
        delete from tb_order
        where order_id=#{orderId}
    </delete>

    <delete id="deleteExchangeOrderRelations">
        delete from tb_exchange_order_relations
        where old_orderId=#{orderId}
    </delete>

    <select id="selectExchangeOrderRelationsByOldOrderId" parameterType="int" resultType="cn.com.connext.oms.entity.TbExchangeOrderRelations">
            select id,old_orderId,new_orderId,exchange_id
            from tb_exchange_order_relations
            where old_orderId=#{oldOrderId}
    </select>

    <select id="selectAllExchangeOrders" resultMap="returnsMap">
        SELECT return_id,return_code,return_state,order_id,return_price,created,modified_user,updated,return_type
        FROM tb_return
        <choose>
            <when test="tbReturn.returnType !=null and tbReturn.returnType != ''">
                WHERE return_type LIKE "%"#{tbReturn.returnType}"%"
            </when>
            <when test="tbReturn.returnId !=null and tbReturn.returnId != ''">
                WHERE cast(return_id as char) LIKE concat('%', '${tbReturn.returnId}', '%')
            </when>
            <when test="tbReturn.orderId !=null and tbReturn.orderId != ''">
                WHERE cast(order_id as char) LIKE concat('%', '${tbReturn.orderId}', '%')
            </when>
            <when test="tbReturn.returnState !=null and tbReturn.returnState != ''">
                WHERE return_state LIKE "%"#{tbReturn.returnState}"%"
            </when>
            <when test="tbReturn.modifiedUser !=null and tbReturn.modifiedUser != ''">
                WHERE modified_user LIKE "%"#{tbReturn.modifiedUser}"%"
            </when>
            <otherwise>
            </otherwise>
        </choose>
        order by updated desc
    </select>

    <insert id="toGenerateExchangeOrderGoods" parameterType="java.util.List">
        insert into tb_return_goods (order_id,goods_id,number)
        values
        <foreach collection="list" item="temp" index= "index" separator=",">
            (#{temp.orderId},#{temp.goodsId},#{temp.number})
        </foreach>
    </insert>

    <insert id="toGenerateExchangeOrder">
            insert into tb_return (return_code,return_state,order_id,return_price,created,modified_user,updated,return_type)
            values (#{tbReturn.returnCode},#{tbReturn.returnState},#{tbReturn.orderId},#{tbReturn.returnPrice},
                    #{tbReturn.created},#{tbReturn.modifiedUser},#{tbReturn.updated},#{tbReturn.returnType})
    </insert>

    <select id="toSelectGoodById" parameterType="int" resultType="cn.com.connext.oms.entity.TbGoods">
            select t.goods_id,t.goods_code,t.goods_name,t.goods_price
            from tb_goods t
            where t.goods_id=#{goodId}
    </select>

    <select id="toSelectGoodByCode" parameterType="String" resultType="cn.com.connext.oms.entity.TbGoods">
            select t.goods_id,t.goods_code,t.goods_name,t.goods_price
            from tb_goods t
            where t.goods_code=#{goodsCode}
    </select>

    <update id="updateTbReturn" parameterType="java.util.List">
        <foreach collection="list" item="bean" separator=";">
            UPDATE tb_return
            set return_state=#{bean.returnState},modified_user=#{bean.modifiedUser},updated=#{bean.updated}
            where return_id = #{bean.returnId}
        </foreach>
    </update>

    <select id="selectTbReturnById" parameterType="int" resultType="cn.com.connext.oms.entity.TbReturn">
            SELECT t.return_id,t.return_code,t.return_state,t.order_id,t.return_price,t.created,t.modified_user,t.updated,t.return_type
            FROM tb_return t
            WHERE t.return_id=#{returnId}
    </select>

    <select id="selectTbReturnByOrderId" parameterType="int" resultType="cn.com.connext.oms.entity.TbReturn">
        SELECT t.return_id,t.return_code,t.return_state,t.order_id,t.return_price,t.created,t.modified_user,t.updated,t.return_type
        FROM tb_return t
        WHERE t.order_id=#{orderId}
    </select>

    <select id="selectTbReturnGoodsByOrderId" parameterType="int" resultMap="returnGoodsMap">
            select t.return_goods_id,t.order_id,t.goods_id,t.number
            from tb_return_goods t
            where t.order_id=#{orderId}
    </select>

    <insert id="insertInput">
          INSERT into tb_input (input_code,order_id,input_state,created,updated,synchronize_state)
          VALUES (#{tbInput.inputCode},#{tbInput.orderId},#{tbInput.inputState},#{tbInput.created},#{tbInput.updated},#{tbInput.synchronizeState})
    </insert>

    <update id="updateTbInput">
            UPDATE tb_input
            SET input_state=#{tbInput.inputState},updated=#{tbInput.updated},synchronize_state=#{tbInput.synchronizeState}
            WHERE order_id=#{tbInput.orderId}
    </update>

    <select id="selectTbInputByOrderId" parameterType="int" resultType="cn.com.connext.oms.entity.TbInput">
            SELECT input_id,input_code,order_id,input_state,created,updated,synchronize_state
            from tb_input
            WHERE order_id=#{orderId}
    </select>
    <select id="selectCountOfOrder" resultType="java.lang.Integer">
        select count(order_id) from tb_order
    </select>

    <select id="selectTbReceiverByOrderId" parameterType="int" resultType="cn.com.connext.oms.entity.TbReceiver">
        select * from tb_receiver
        where order_id=#{orderId}
    </select>

    <insert id="insertReciver">
        insert into tb_receiver (receiver_id,receiver_name,receiver_phone,receiver_mobile,receiver_state,
        receiver_city,receiver_district,receiver_address,receiver_zip,created,updated,order_id)
        values (#{tbReceiver.receiverId},#{tbReceiver.receiverName},#{tbReceiver.receiverPhone},#{tbReceiver.receiverMobile},
        #{tbReceiver.receiverState},#{tbReceiver.receiverCity},#{tbReceiver.receiverDistrict},
        #{tbReceiver.receiverAddress},#{tbReceiver.receiverZip},#{tbReceiver.created},
        #{tbReceiver.updated},#{tbReceiver.orderId})
    </insert>
    <update id="updateReceiver">
        update tb_order set  receiver_id=#{receiverId}
        where order_id=#{orderId}
    </update>

    <update id="updateOrder">
        UPDATE tb_order set channel_code=#{channelCode},order_code=#{orderCode}
        WHERE order_id=#{orderId}
    </update>
</mapper>