<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.connext.oms.mapper.TbGoodsOrderMapper">
  <resultMap id="BaseResultMap" type="cn.com.connext.oms.entity.TbGoodsOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="goods_order_id" jdbcType="INTEGER" property="goodsOrderId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="total_price" jdbcType="DOUBLE" property="totalPrice" />
    <association property="tbGoods" javaType="cn.com.connext.oms.entity.TbGoods">
      <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
      <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
      <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
      <result column="goods_price" jdbcType="DOUBLE" property="goodsPrice" />
    </association>
  </resultMap>


  <select id="getStockByOrderId" parameterType="Integer" resultMap="BaseResultMap">
    SELECT * FROM tb_goods_order WHERE order_id=#{orderId}
  </select>

  <select id="getListGoodsOrderById" parameterType="Integer" resultMap="BaseResultMap">
    SELECT tb_goods_order.*,tb_goods.goods_code,tb_goods.goods_name,tb_goods.goods_price  FROM tb_goods_order,tb_goods WHERE tb_goods_order.order_id=#{orderId} and tb_goods_order.goods_id=tb_goods.goods_id
  </select>
  <!--根据订单编号查询该订单下所有的商品编号-->
  <select id="getGoodsOrderById" parameterType="Integer" resultType="java.lang.Integer">
    SELECT GOODS_ID FROM tb_goods_order WHERE order_id=#{orderId}
  </select>
  <!--根据订单ID查询商品的名称单价个数总价：-->
  <select id="goodsListFromOrder" parameterType="integer" resultType="cn.com.connext.oms.commons.dto.GoodsGoodsOrderDto">
    SELECT
      a.goods_id,
      a.goods_code,
      a.goods_name,
      a.goods_price,
      b.order_id,
      b.num,
      b.total_price,
      b.goods_id
    FROM
      tb_goods a,
      tb_goods_order b
    WHERE
      a.goods_id = b.goods_id
      AND
      order_id=#{orderId}
  </select>
  <select id="getGoodsDetailByOrderId" resultType="cn.com.connext.oms.entity.TbGoodsOrder">
    SELECT goods_id,num FROM tb_goods_order WHERE order_id=#{orderId}
  </select>


</mapper>