<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.connext.oms.mapper.TbGoodsMapper">
    <resultMap id="BaseResultMap" type="cn.com.connext.oms.commons.dto.GoodsStockDto">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
        <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
        <result column="goods_price" jdbcType="DOUBLE" property="goodsPrice" />
    </resultMap>
    <!--根据商品编号查询对应商品的信息-->
    <select id="getGoodsImformation"  resultMap="BaseResultMap">
        SELECT * FROM tb_goods WHERE goods_id=#{goodsId}
    </select>
    <!--新增商品-->
    <insert id="addGoods">
        insert into tb_goods (goods_code,goods_name,goods_price) values(#{goodsCode},#{goodsName},#{goodsPrice})
    </insert>
    <!--获取所有的商品和其对应的商品属性-->
    <select id="getAllGoods" resultType="cn.com.connext.oms.commons.dto.GoodsStockDto">
        SELECT
            a.goods_id,
            a.goods_code,
            a.goods_name,
            a.goods_price,
            b.stock_id,
            b.available_stock,
            b.locked_stock,
            b.total_stock,
            b.goods_id
        FROM
            tb_goods a,
            tb_stock b
        WHERE
            a.goods_id = b.goods_id
    </select>
    <!--根据查询GoodId-->
    <select id="findIdByCode" resultType="Integer" >
        SELECT goods_id FROM tb_goods WHERE goods_code=#{goodsCode}
    </select>
    <!--更改商品信息-->
    <update id="updateGoods" >
        UPDATE tb_goods SET goods_name=#{goodsName},goods_price=#{goodsPrice} where goods_code=#{goodsCode};
    </update>
    <!--模糊查询-->
    <select id="fuzzySearch" resultType="cn.com.connext.oms.entity.TbGoods">
        SELECT * FROM tb_goods WHERE  CONCAT(goods_name,goods_price,goods_code,goods_id) LIKE CONCAT('%',#{mark},'%');
    </select>
    <!--分类模糊查询-->
    <select id="selectAllGoods" resultType="cn.com.connext.oms.commons.dto.GoodsStockDto">
        SELECT
        g.goods_id,
        goods_name,
        goods_price,
        goods_code,
        available_stock,
        locked_stock,
        total_stock,
        stock_id
        FROM
        tb_goods g
        INNER JOIN tb_stock s on s.goods_id=g.goods_id
        <choose>
            <when test="goodsStockDto.goodsCode !=null and goodsStockDto.goodsCode != ''">
                WHERE goods_code LIKE "%"#{goodsStockDto.goodsCode}"%"
            </when>
            <when test="goodsStockDto.goodsName !=null and goodsStockDto.goodsName != ''">
                WHERE goods_name LIKE "%"#{goodsStockDto.goodsName}"%"
            </when>
            <otherwise>
            </otherwise>
        </choose>
        ORDER BY goods_id ASC
    </select>

</mapper>