<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.connext.oms.mapper.TbRefundMapper">
  <resultMap id="BaseResultMap" type="cn.com.connext.oms.entity.TbRefund">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="refund_id" jdbcType="INTEGER" property="refundId" />
    <result column="refund_code" jdbcType="VARCHAR" property="refundCode" />
    <result column="refund_price" jdbcType="DOUBLE" property="refundPrice" />
    <result column="refund_state" jdbcType="VARCHAR" property="refundState" />
    <result column="return_id" jdbcType="VARCHAR" property="returnId" />
    <result column="createtd" jdbcType="TIMESTAMP" property="createtd" />
    <result column="modified_user" jdbcType="VARCHAR" property="modifiedUser" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
  </resultMap>


<insert id="batchAddRefund" parameterType="java.util.List">
insert into tb_refund(refund_code,refund_price,refund_state,return_id,createtd,modified_user,updated,order_id)
VALUES
<foreach collection="list" item="item" index="index" separator=",">
  (#{item.refundCode,jdbcType=VARCHAR},#{item.refundPrice,jdbcType=DOUBLE},
   #{item.refundState,jdbcType=VARCHAR},#{item.returnId,jdbcType=INTEGER},#{item.createtd},
   #{item.modifiedUser,jdbcType=VARCHAR},#{item.updated},#{item.orderId,jdbcType=INTEGER})
</foreach>
</insert>

  <update id="updateRefundListStatue" parameterType="java.util.List">
    UPDATE tb_refund
    SET refund_state = CASE refund_id
    <foreach collection="list" item="item">
      WHEN #{item.refundId} THEN #{item.refundState}
    </foreach>
    END, modified_user = CASE refund_id
    <foreach collection="list" item="item">
      WHEN #{item.refundId} THEN #{item.modifiedUser}
    </foreach>
    END, updated = CASE refund_id
    <foreach collection="list" item="item">
      WHEN #{item.refundId} THEN #{item.updated}
    </foreach>

    END
    WHERE
    refund_id in
    <foreach collection="list" item="item" open="(" separator="," close=")">
      #{item.refundId}
    </foreach>
  </update>

  <select id="getAllRefund"  resultMap="BaseResultMap">
        select * from tb_refund order by tb_refund.createtd DESC
    </select>

  <select id="getRefundById"  resultMap="BaseResultMap" parameterType="Integer">
        select * from tb_refund where refund_id=#{refundId}
    </select>

  <select id="getAllRefundIndex" parameterType="Object"  resultMap="BaseResultMap">
         select * from tb_refund order by tb_refund.createtd DESC limit #{beginIndex},#{size}
    </select>

  <select id="getListRefundByState" parameterType="String" resultMap="BaseResultMap">
        select * from tb_refund  where refund_state=#{refundState} order by tb_refund.createtd
    </select>
  <select id="getListRefundByStateIndex" parameterType="Object" resultMap="BaseResultMap">
        select * from tb_refund  where refund_state=#{refundState} order by tb_refund.createtd DESC limit #{beginIndex},#{size}
</select>

  <select id="getListRefundByOrderId" parameterType="Integer" resultMap="BaseResultMap">
        select * from tb_refund  where order_id=#{orderId} order by tb_refund.createtd
</select>

  <select id="getListRefundByOrderIdIndex" parameterType="Object" resultMap="BaseResultMap">
        select * from tb_refund  where order_id=#{orderId} order by tb_refund.createtd DESC limit #{beginIndex},#{size}
</select>
</mapper>