<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.connext.oms.mapper.TbRoleMapper">
  <resultMap id="BaseResultMap" type="cn.com.connext.oms.entity.TbRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
  </resultMap>

  <select id="getRoleById" parameterType="Integer" resultMap="BaseResultMap">
        select * from tb_role where role_id=#{roleId}
    </select>

  <select id="getListRole"  resultMap="BaseResultMap">
        select * from tb_role
    </select>
</mapper>